<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD59VTGAiGjL5ISqjSAtaAmsl-f_DQYPKw</string>
	<key>GCM_SENDER_ID</key>
	<string>488211719513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentorApp</string>
	<key>PROJECT_ID</key>
	<string>guidedbycutlture</string>
	<key>STORAGE_BUCKET</key>
	<string>guidedbycutlture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488211719513:ios:504ddb50cecbc71c82d848</string>
</dict>
</plist>