<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS6U9l7Ug_225R7Wg55J0STKIQ3Y4UtxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1060144671461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guidedbyculture.app</string>
	<key>PROJECT_ID</key>
	<string>updatedguidedbyculture</string>
	<key>STORAGE_BUCKET</key>
	<string>updatedguidedbyculture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060144671461:ios:2c332a382d1d3b256c820c</string>
</dict>
</plist>